.active {
    font-weight: bolder !important;
    font-style: italic;
}

.dropdown-dark:hover {
    background-color: #121416;
    cursor: pointer;
}

.dropdown-light:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
}

@media only screen and (max-width:992px){
    .dropdown {
        margin-bottom: 10px;
    }
}